body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#339999;
	color:#989898;
	}
	
h1 {
	font-size:32px;
	color:#333399;
	}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}

.ul1{
	list-style:none;
	}
	
.li3 {
	color:#ffffff;
	}
	
a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#33FF99;
	}
